<!doctype html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/canvas.css">
	   <script src="/socket.io/socket.io.js"></script>
	   <script src="/javascripts/jquery-1.9.1.min.js"></script>
	   <script src="/javascripts/canvas.js"></script>
</head>
<body>
    <div id='canvas_wrap'>
        <div id='wrap_inner'>
        	<canvas id="mycanvas" height='500' width='1000'></canvas>
          <div id='submit' style='background-color:#ccc;position:fixed;'>fuck</div>
      </div>
    </div>
  	

</body>
</html>