<!doctype html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/canvas.css">
	   <script src="/socket.io/socket.io.js"></script>
	   <script src="/javascripts/jquery-1.9.1.min.js"></script>
	   <script src="/javascripts/canvas.js"></script>
</head>
<body>
	  <canvas id="mycanvas"></canvas>
  	<div id="myeraser"></div>
  	<div id='clear_btn'></div>
  	<div id='friend_list'></div>
  	<div id='login_mask'>
  		<div id='logo'>WhitePaper</div>
  		<div id='aside'></div>
  		<div id='login_panel'>
  			<form id="loginform">
          <label for='roomid'>Room Id</label>
          <input class='login_input' name='roomid' type='text'>
  				<label for='nickname'>Nick Name</label>
  				<input class='login_input' name='nickname' type='text'>
  				<label for='password'>Password</label>
  				<input class='login_input' name='password' type='password'>
  				<input type='submit' name='login_btn' value='login'>
  			</form>
  		</div>
  	</div>
  	

</body>
</html>