<!doctype html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/canvas.css">
	   <script src="/socket.io/socket.io.js"></script>
	   <script src="/javascripts/jquery-1.9.1.min.js"></script>
	   <script src="/javascripts/canvas.js"></script>
</head>
<body>
    <div id='canvas_wrap'>
        <div class='inner'>
            
            <div class='partners_panel'>
                <ol id='partners_list'>
                    <li class='Yammywei'><span>Yammywei</span></li>
                    <li class='Robin'><span>Robin</span></li> 
                </ol>
            </div>

            <div class='tool_panel'>
                <div class='tool' id='pen'><img src='/images/stroke.png' height='30' width='30'><div><span>Pen</span></div></div>
                <div class='tool' id='setting'><img src='/images/settings.png' height='30' width='30'><div><span>Settings</span></div></div>
                <div class='tool' id='erase'><img src='/images/erase.png' height='30' width='30'><div><span>Erase</span></div></div>
                <div class='tool' id='newcanvas'><img src='/images/new.png' height='30' width='30'><div><span>New Canvas</span></div></div>
                <div class='tool' id='save'><img src='/images/save.png' height='30' width='30'><div><span>Save</span></div></div>
                <div class='tool' id='logout'><img src='/images/logout.png' height='30' width='30'><div><span>Logout</span></div></div>
            </div>
            <div class='canvas_eraser'>
                <canvas id="mycanvas" height='520' width='900'></canvas>
            </div>
            <!-- <div class='infomation'></div> -->
        </div>
    </div>
  	<div id='login_mask'>
        <div id='aside'>
            <div class='login_panel selection'>
                <div class='selection_wrap create'><span class='selection_item' id="create_btn">Create</span></div>
                <div class='selection_wrap join'><span class='selection_item' id='join_btn'>Join</span></div>
            </div>
            <div class='login_panel form_field'>
                <div class="form_item room_id"> 
                    <label class='form_label' for='roomId'>RoomId</label>
                    <input class='form_input' id='roomId' type='text'>
                    <div class='from_tip form_error'><span></span></div>
                    <div class='form_tip form_req'><span></span></div>
                </div>
                <div class='form_item password'>
                    <label class='form_label' for='password'>Password</label>
                    <input class='form_input' id = 'password' type='password'>
                    <div class='from_tip form_error'><span></span></div>
                    <div class='form_tip form_req'><span>&gt;8</span></div>
                </div>
                <div class='form_item user_name'>
                    <label class='form_label' for='username'>UserName</label>
                    <input class='form_input' id='username' type='text'>
                    <div class='from_tip form_error'><span></span></div>
                    <div class='form_tip form_req'><span>&lt;10</span></div>
                </div>
                <div class='submit_item'>
                    <div class='btn' id='login_btn'><span class='a'>GO</span></div>
                    <!-- <div class='btn' id='cancel_btn'><span class='shit'>Cancel</span></div> -->
                </div> 
            </div>
        </div>
  		<div id='main_side' tabIndex='-1'>
         <div class='logo_wrap '><span id='logo'>WhitePaper</span></div>
            <div class='intro_wrap'>
                <div class='intro_inner'>
                    <span id='intro'>Welcome to WhitePaper! By Clicking the "Create" button in your right, You can create a new room in which you can draw something to your friend in a piece of white paper. Don't forget to tell your friend the id and password of your room! Wish you enjoying it!
                    </span>
                </div>
            </div>
        </div>

  			<!-- <form id="loginform">
                <div class="form_item room_id"> 
                    <label for='roomid'>Room Id</label>
                    <input name='roomid' type='text'>
                </div>
                <div class='form_item password'>
                    <label for='password'>Password</label>
                    <input name='password' type='password'>
                </div>
                <div class='form_item nick_name'>
                    <label for='nickname'>Nick Name</label>
                    <input name='nickname' type='text'>
                </div>
  				
  				
  				<input type='submit' name='login_btn' value='login'>
  			</form> -->
  	</div>
  	

</body>
</html>